:root {
  --sky-50: oklch(97.7% 0.013 236.62);
  --sky-100: oklch(95.1% 0.026 236.824);
  --sky-200: oklch(92.9% 0.039 237.027);
  --sky-300: oklch(82.8% 0.111 230.318);
  --sky-400: oklch(74.6% 0.16 232.661);
  --sky-500: oklch(68.5% 0.169 237.323);
  --sky-600: oklch(58.8% 0.158 241.966);
  --sky-700: oklch(50% 0.134 242.749);
  --sky-800: oklch(44.3% 0.11 240.79);
  --sky-900: oklch(39.1% 0.09 240.876)
  --sky-950: oklch(29.3% 0.066 243.157)

  --slate-50: oklch(98.4% 0.003 247.858);
  --slate-100: oklch(96.8% 0.007 247.896);
  --slate-200: oklch(92.9% 0.013 255.508);
  --slate-300: oklch(86.9% 0.022 252.894);
  --slate-400: oklch(70.4% 0.04 256.788);
  --slate-500: oklch(55.4% 0.046 257.417);
  --slate-600: oklch(44.6% 0.043 257.281);
  --slate-700: oklch(37.2% 0.044 257.287);
  --slate-800: oklch(27.9% 0.041 260.031);
  --slate-900: oklch(20.8% 0.042 265.755);
  --slate-950: oklch(12.9% 0.042 264.695);
  
  --line-height: 3px;
}

body, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.terminal-screen {
  background-color: var(--slate-950);
  min-height: 100dvh;
  position: relative;
}

.terminal-screen::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  
  /* Use the variables to create the alternating block effect */
  background: repeating-linear-gradient(
    to bottom,
    var(--slate-900) 0px,
    var(--slate-900) var(--line-height),
    transparent var(--line-height),
    transparent calc(var(--line-height) * 2)
  );
}
