---
interface Props {
  title: string;
}

const { title } = Astro.props;
const path = Astro.url.pathname;

import "@/styles.css"
import TimeCounter from "@components/TimeCounter.vue"
import SystemStatusLine from "@components/SystemStatusLine.vue"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script is:inline src="/basic_interpreter.js"></script>
	</head>
  <body class="terminal-screen">
    <header>
      <span>{path}</span>
      <TimeCounter client:only />
    </header>
    <hr />
    <slot />
    <hr />
    <footer>
      <span>mode: {import.meta.env.MODE}</span>
      <SystemStatusLine client:only />
    </footer>
	</body>
</html>

<style>
  html {
    overflow: hidden;
  }

  body {
    padding: 1.5rem;
    height: 100dvh;
    width: 100dvw;
    display: grid;
    grid-template-rows: auto auto 1fr auto auto;
  }

  header, footer {
    height: 1.5rem;
    color: var(--sky-500);
    letter-spacing: 1px;
    font-size: 1rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  hr {
    border: none; 
    height: 2px; 
    background-color: var(--sky-500);
    box-shadow: 0 0 4px var(--sky-500);
    margin-block: 1rem;
  }

  .terminal-screen {
    background-color: var(--slate-950);
    position: relative;
  }

  /* 1. The Tiles Layer */
  .terminal-screen::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -20;
    pointer-events: none;
    
    background: repeating-linear-gradient(
      to bottom,
      var(--slate-900) 0px,
      var(--slate-900) var(--line-height),
      transparent var(--line-height),
      transparent calc(var(--line-height) * 2)
    );
  }

  /* 2. The Radial Glow Layer */
  .terminal-screen::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -10; 
    pointer-events: none;
    
    background: radial-gradient(
      circle at center,
      color-mix(in srgb, var(--sky-600), transparent 80%) 0%,
      color-mix(in srgb, var(--slate-800), transparent 80%) 100%
    );
  }
</style>
