---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
  <body class="terminal-screen">
    <header>
      <span>/</span>
      <hr />
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <hr />
      <span>mode: production</span>
    </footer>
	</body>
</html>

<style>
  body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  header, footer {
    padding: 1.5rem;
    color: var(--sky-500);
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  main {
    padding: 1.5rem;
    height: 100%;
  }

  hr {
    border: none; 
    height: 2px; 
    background-color: var(--sky-500);
    box-shadow: 0 0 4px var(--sky-500);
    margin-block: 1rem;
  }
</style>
