---
import Layout from "@layouts/Layout.astro"
import HomeButtonList from "@components/HomeButtonList.vue"
---

<Layout title="Terminal - Typical BASIC">
  <main>
    <div class="menu-container">
      <h1>TYPICAL BASIC</h1>
      <HomeButtonList client:load path={Astro.url.pathname} />
    </div>
  </main>
</Layout>

<style>
  main {
    padding: 1.5rem;
    margin: auto;
  }
  
  .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 42rem;
    gap: 3rem;
  }

  h1 {
    font-size: 4rem;
    line-height: 1;
    font-weight: 400;
    color: var(--sky-300);
    letter-spacing: 3px;
    text-align: center;
  }
</style>
