---
import Layout from "@layouts/Layout.astro"
import MenuButton from "@components/MenuButton.vue"
---

<Layout title="Terminal - Typical BASIC">
  <main>
    <div class="menu-container">
      <h1>TYPICAL BASIC</h1>
      <div class="menu-button-container">
        <MenuButton label="Tutorial" href="/tutorial" textCenter />
        <MenuButton label="Github" href="https://github.com/alekshiidenhovi/BASIC-interpreter" textCenter openInNewTab />
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 42rem;
    gap: 3rem;
  }

  h1 {
    font-size: 4rem;
    line-height: 1;
    font-weight: 400;
    color: var(--sky-300);
    letter-spacing: 3px;
    text-align: center;
  }

  .menu-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 24rem;
    width: 100%;
  }
</style>
